<!DOCTYPE html>
<html lang="es">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <!-- Blocks may include default content. -->
        {{ partial "header.html" . }}
        <base href="{{ .Site.BaseURL }}">
        <title>
            {{ block "title" . }}
                {{ .Site.Title }}
            {{ end }}
        </title>
        {{ if .RSSLink }}<link href="{{ .RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ .Title }}" />{{ end }}
    </head>
    <body>
        {{ partial "navbar.html" . }}
        <!-- Code that all your templates share, like a header -->
        <div>
            {{ block "main" . }}
              <!-- The part of the page that begins to differ between templates -->
            {{ end }}
        </div>
        {{ block "footer" . }}
        <!-- More shared code, perhaps a footer but that can be overridden if need be in  -->
        {{ end }}
    </body>

</html>