
<nav class="navbar">
    <div class="navbar-size" >
        <div class="navbar-container">
            <div class="navbar-container__logo">
                <a href="{{ "/" | relURL }}">
                    <div >
                        <img src="{{ .Site.BaseURL }}images/cea-yucatan.jpg" alt="logo cea" >
                    </div>
                    <div>
                        <h1>{{ .Site.Title }}</h1>
                        <small>{{ .Site.Params.Subtitle }}</small>
                    </div>
                </a>
                <div class="navbar-hamburguer-menu">
                    <button class="button contact-button">
                        Contactanos
                    </button>
                    {{ partial "hamburguer_menu.html" }}
                </div>
            </div>
            <div class="aside-bar">
                <ul>
                    {{ $currentPage := . }}
                    {{ range .Site.Menus.main }}
                            <li class="navbar-item navbar-item{{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }}__active{{end}}">
                                <a href="{{ .URL }}"  title="{{ .Title }}">
                                    <!-- {{ .Pre }} -->
                                    <span>{{ .Name }}</span>
                                </a>
                            </li>
                    {{ end }}
                    <div>
                        ☀
                    </div>
                </ul>
            </div>
        </div>
    </div>
</nav>