<div class="slider-container">
    <ul class="slider">
        <li id="slide1" >
            <img src="images/CEA-toma-aerea-impacto-ambiental.jpg" alt="Creación de pozos para aguas tratadas">
        </li>
        <li id="slide2" >
            <img src="images/CEA-pozos-agua-tratada.jpg" alt="Creación de pozos para aguas tratadas">
        </li>
        <li id="slide3" >
            <img src="images/CEA-toma-de-muestras-de-agua.jpg" alt="Creación de pozos para aguas tratadas">
        </li>
    </ul>
    <ul class="slider-menu">
        <li>
            <a href="#slide1">
                1
            </a>
        </li>
        <li>
            <a href="#slide2">
                2
            </a>
        </li>
        <li>
            <a href="#slide3">
                3
            </a>
        </li>
    </ul>
</div>