<div class="slider-container">
    <section class="slider" id="slider">
        <li class="slider-item" >
            <img src="images/CEA-toma-aerea-impacto-ambiental.jpg" alt="Creación de pozos para aguas tratadas">
            <h2 class="slider-item-text" >
                Tomas aereas
            </h2>
        </li>
        <li class="slider-item" >
            <img src="images/CEA-pozos-agua-tratada.jpg" alt="Creación de pozos para aguas tratadas">
            <h2 class="slider-item-text" >
                Elaboración de pozos pluviales
            </h2>
        </li>
        <li class="slider-item" >
            <img src="images/CEA-toma-de-muestras-de-agua.jpg" alt="Creación de pozos para aguas tratadas">
            <h2 class="slider-item-text" >
                Muestreo de aguas naturales
            </h2>
        </li>
        <li class="slider-item" >
            <img src="images/cea-yucatan-curso-primeros-auxilios.jpg" alt="Creación de pozos para aguas tratadas">
            <h1 class="slider-item-text" >
                Cursos de primeros auxilios
            </h1>
        </li>
    </section>
    <section class="slider-menu" id="sliderMenu">
        <li ></li>
        <li ></li>
        <li ></li>
        <li ></li>
    </section>
</div>