footer{
  background-color: var(--white-2);
  box-shadow: var(--black-shadow);
  padding: 1.5rem;
}

footer section {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

body.dark footer {
  background-color: var(--black-2);
  box-shadow: var(--white-shadow);
}

/* 
@media screen and (max-width: 900){
  footer {
  }
} */