.slider li, .slider {
    margin: 0;
    padding: 0;
    list-style: none;
}

.slider-container {
    width: 100%;
    display: grid;
    place-content: center;
    padding: 10px;
    position: relative;
}

.slider-menu {
    display: flex;
    position: absolute;
    bottom: 20px;
    left: 0%;
    right: 0;
    margin: auto;
    width: max-content;
}

.slider-menu li {
    list-style: none;
    cursor: pointer;
    width: .8rem;
    height: .8rem;
    border: 2px solid var(--white);
    border-radius: 50%;
    margin: 5px;
    box-shadow: var(--black-shadow);
}

.slider-menu__active {
    background-color: var(--white);
}

.slider {
    display: flex;
    width: 100%;
    max-width: 1200px;
    height: 450px;
    border-radius: 5px;
    box-shadow: var(--black-shadow);
    scroll-behavior: smooth;

    overflow-y: hidden;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;

    scrollbar-width: none;
}

.slider::-webkit-scrollbar {
    display: none;
}

body.dark .slider {
    box-shadow: var(--white-shadow);
}

.slider-item {
    min-width: 100%;
    height: 100%;
    margin: 0;
    position: relative;
    scroll-snap-align: center;
}

.slider-item-text{
    position: absolute;
    background-color: #20202060;
    color: var(--white);
    margin: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    padding-top: 2em;
    font-size: 2.5rem;
    text-shadow: var(--white-shadow);
}

.slider-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media screen and (max-width: 900px) {
    .slider {
        height: 250px;
        padding: 0;
    }
    
}